Binaries
DerivedDataCache
Intermediate
Saved
Content/Megascans
Content/MetaHumans
Content/MSPresets
Content/Weapon_Pack
Content/Blueprints/Characters
Content/Animations
Content/Weapon_Pack
Content/Maps
Packages
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace