Binaries
DerivedDataCache
Intermediate
Saved
Content/Megascans
Content/MetaHumans
Content/MSPresets
Content/Characters
Content/UE_Characters
Content/Weapon_Pack
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace